dist: xenial
sudo: false
language: generic
notifications:
  email: false
branches:
  only:
    - master

matrix:
  fast_finish: true
  include:
    - os: linux
      compiler: gcc-8
      env:
        - COMPILER_NAME=gcc
        - GCC_VERSION=8
        - CC=gcc-8
        - CXX=g++-8
        - FC=gfortran-8
        - MATRIX_EVAL="CXX=g++-8 && CC=gcc-8 && FC=gfortran-8"
      cache:
        apt: true
      addons:
        apt:
          update: true
          sources:
            - sourceline: 'ppa:ubuntu-toolchain-r/test'
          packages:
            - gcc-8
            - g++-8
            - gfortran-8
    - os: linux
      compiler: clang-7
      env:
        - COMPILER_NAME=clang
        - CXX=clang++-7
        - CC=clang-7
        - CLANG_VERSION=7
        - FC=gfortran-8
        - MATRIX_EVAL="CXX=clang++-7 && CC=clang-7 && FC=gfortran-8"
      cache:
        apt: true
      addons:
        apt:
          update: true
          sources:
            - sourceline:  'ppa:ubuntu-toolchain-r/test'
            - sourceline:  'deb http://apt.llvm.org/xenial/ llvm-toolchain-xenial-7 main'
              key_url: 'http://apt.llvm.org/llvm-snapshot.gpg.key'
          packages:
            - llvm-7-dev
            - clang-7
            - libstdc++-8-dev
            - gfortran-8



before_install:
  - eval "${MATRIX_EVAL}"

script:
  - ./build.sh -j 2
  - ./build.sh -j 2 -c  --enable-tests --enable-shared
  - ./build.sh -j 2 -c  --enable-tests --enable-shared --with-openmp
  - ./build.sh -j 2 -c  --enable-tests --with-openmp
  - ./build.sh -j 2 -c  --enable-tests --with-eigen3 --download-missing
  - ./build.sh -j 2 -c  --enable-tests --with-eigen3 --with-h5pp --with-spdlog --download-missing
  - ./build.sh -j 2 -c  --enable-tests --with-openmp --with-eigen3 --with-h5pp --with-spdlog --download-missing




